body {
    position: relative;
    width: 1200px;
    height: 2336px;
    background: #FFFFFF;
    margin: 0;
}

.hero {
    width: 1200px;
    height: 822px;
    background: url("../assets/back1.png");
}


.flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
}
  
.flex-container > ul {
    margin: 40px;
    display: flex;
    list-style: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
  }
  
.flex-container ul li:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
.flex-container ul li a {
    text-decoration: none;
    color: #FFFFFF;
  }

.flex-container ul li a:hover {
    text-decoration: underline;
    color: white;
}
  

.hero_block{
    width: 426px;
    height: 292px;
    margin-top: 100px; 
    margin-left: auto;
    margin-right: auto;
}

h1{
    width: 386px;
    height: 118px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin: 20px auto;
    color: #FFFFFF;
}


.logo1{
    display: block;
    width: 63px;
    height: 63px;
    margin-left: auto;
    margin-right: auto;
}

.hero_h2{
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
}

.main {
    width: 1200px;
    height: 700px;
    background: #EEEEEE;
    text-align: center;
    align-items: center;
  }

.main_h2 {
    padding-top:50px;
    margin:0 auto;
    width: 669px;
    height: 119px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #464547;
  }
  
.main_h3 {
    height: 57px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #666666;
  }

.main_article {
  width: 983px;
  margin: 0 auto;
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  display: flex;
  flex-wrap: nowrap;
}

.column {
    flex: 0 0 50%;
    box-sizing: border-box; 
    padding-right: 25px;
}

.readButton{
    width: 115px;
    height: 36px;
    margin:50px auto;
    background: #55C2D8;
    border-radius: 18px;
    border-color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}
       
.learnMore{
    width: 1200px;
    height: 666px;
    background: url("../assets/back2.png");
    margin: 0 auto;
    background-color:rgba(140, 79, 42, 0.3);;
    opacity: 0.8;
}

.learnMore_h2{

    width: 480px;
    height: 117px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin:0 auto;
    padding:80px;
}

.learnMore_h3{
    width: 390px;
    height: 102px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin:0 auto;
    padding-top: 40px;
}

.videoButton{

    display: block;
    width: 145px;
    height: 143.47px;
    background: #39C2D7;
    border-radius:100px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    border-color: #FFFFFF;
}
    
.videoButton span{
    color:#FFFFFF;
    border-radius: 50%;
    font-size: 50px;
}


footer{
display: flex;
width: 1200px;
height: 170px;
background: #464547;
justify-content: space-evenly;
}

.logo2{
    width:20px;
    height:20px;
    padding-right: 10px;
}

.footerProject{
    display: flex;
    width: 92px;
    height: 16px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footerContents{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 40px auto;
}

.footerContents .footnote {
    align-self: flex-end; 
  }

.address{
    width: 174px;
    height: 33px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.4);
}

.address a{
    width: 142px;
    height: 22px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}

.footnote{
    width: 243px;
    height: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
}   
